@import './_mixins';
@import './_flex';
@import './_breakpoint';
@import './_colors';
@import './_media';
@import './_fonts';
@import './section';
@import './header';
@import './button';
@import './table';
@import './Input';
@import './dateinput';
@import './calendar';
@import './modal';


body{
    margin: 0;
    font-family: "ArgentumSans-Regular", Arial, Helvetica, sans-serif;
    background-color: $background-body;
}
h1{
    @include set-font-family("ArgentumSans-Regular",28px,400,33px,0em,center);
    width: 100%;
    @include md{
        width: 90%
    }
}
h2{
    @include set-font-family("ArgentumSans-Bold",24px,800,28px,0em,center);
    margin: 0px;

}
h3{
    @include set-font-family("ArgentumSans-Light",16px,300,16px,0em,center);
    margin: 0px;
    color: $gray-color;

}
span{
    @include set-font-family("ArgentumSans-Light",12px,300,16px,0.20000000298023224px,left);
    color: $spam-color;

}
input{
    @include set-font-family("ArgentumSans-Regular",12px,400,14px,0.25px,left);
    color: rgba(105, 105, 105, 1);

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}