@mixin set-font-face($font-name) {
    @font-face {
        font-family: $font-name;
        src: url('@/assets/fonts/#{$font-name}.ttf') format('truetype');
        // font-weight: $font-weight;
    }
}

@mixin declare-font-face($font-map) {
    @each $font in $font-map {
        @include set-font-face($font);
    }
}

@mixin set-font-specs($size: inherit, $weight: inherit, $height: inherit, $spacing: inherit, $align: inherit){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    text-align: $align;
}

@mixin set-font-family($font-name: inherit, $size: inherit, $weight: inherit, $height: inherit, $spacing: 0em, $align: left) {
    font-family: $font-name;
    @include set-font-specs($size,$weight,$height,$spacing,$align);
}