@import './colors';

.input-date {
    @include use-flex();
    width: 100%;

    gap: 14.5px;
}

.input-date-picker{
    @include use-flex(column);
    width: 100%;

}
.input-date-text{
    width: 100%;
    @include use-flex(column);
    span{
        position:relative;
        width: fit-content;
        bottom: 58px;
        left:8px;
        background-color: $background-text;
    }
}
.input-date-text-content{
    @include use-flex();
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: $border-color;
    width: 100%;
    
    input{
        width: 100%;
        margin-inline: 13px;
        margin-block: 15px;
        border: none;
        outline: none;
        cursor:default;
    }
    .icon{
        cursor: pointer;
        margin-right: 8.9px;
    }
}

.input-date-error{
    width: 100%;
    color:$red-color;
    text-align: center;
    position: relative;
    top: -10px;
}
.error-date{
    border-color: $red-color;
}

